services:
  web:
    container_name: learning-management-system
    image: rkampas/learning-management-system:latest
    #image: learning-management-system
    ports:
      - "8889:80"
    network_mode: bridge
    volumes:
      - ./app:/var/www
    depends_on:
      - database
    links:
      - database:database
    environment:
      - VIRTUAL_HOST=learning-management-system.docker
      - DATABASE_HOST=database
      - DATABASE_USER=user
      - DATABASE_PASSWORD=password
      - DATABASE_NAME=app
      - PHP_DISPLAY_ERRORS=1
      - PHP_OPCACHE_ENABLED=0
      - TZ=Europe/London
  database:
    image: mysql:8.0
    network_mode: bridge
    security_opt:
      - seccomp:unconfined
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_HOST=%
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=app
