parameters:
    router.request_context.scheme: 'http'
    asset.request_context.secure: false

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Tests/'
            - '../src/Entity/'
            - '../src/Enum/'
            - '../src/Kernel.php'
