framework:
    messenger:
        transports:
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
        routing:
            'App\Message\GenerateCertificateMessage': async

when@test:
   framework:
       messenger:
           transports:
               async: 'in-memory://'
