#https://docs.sentry.io/platforms/php/guides/symfony/integrations/monolog/
monolog:
    channels:
        - deprecation

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: debug
                channels: ['!event']
            error:
                type: stream
                path: '%kernel.logs_dir%/%kernel.environment%-error.log'
                level: error
                channels: ['!event']
            deprecation:
                type: stream
                channels: [deprecation]
                path: '%kernel.logs_dir%/%kernel.environment%-deprecation.log'
            console:
                type: console
                process_psr_3_messages: false
                channels: ['!event', '!doctrine', '!console']

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ['!event']
            nested:
                type: stream
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: debug
